rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access to all users during development
    // (We will lock this down later before YC Demo)
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
